div.container {
    max-width: 500px;
}

.illustration {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 1em;
}
.ill-content {
    width: min-content;
    display: inline-block;
    padding: 15px;
    background-color: #a8caee;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}
.ill-title {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.illustration canvas {
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.center-block {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.math {
    font-family: "Times New Roman", serif;
    font-style: oblique;
}

.smaller {
    font-size: 0.9em;
}

.squish {
    font-family: "Courier", monospace;
    letter-spacing: -1.4px;
}

button {
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
}

.point-p {
    font-weight: 600;
    color: black;
}
.point-np {
    font-weight: 600;
    /*color: red;*/
}

.hidden {
    visibility: hidden;
}
