h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h2, h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
h4, h5, h6 {
    margin-top: 1.5rem;
    margin-bottom: .75rem;
}

h1 {
    text-align: center;
}
.subhead {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-family: Georgia, serif;
    font-style: italic;
    margin: 0 auto 1.5rem;
}

.main-page .container {
    width: 600px;
    max-width: 600px;
    background-color: linen;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    margin: 1.5rem auto;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    text-overflow: clip;
}

.container p:last-of-type {
    margin-bottom: 0;
}

.illustration {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.illustration .ill-content {
    width: min-content;
    margin: 0 auto;
}

.illustration figcaption {
    margin: .4em auto;
    font-style: italic;
    font-family: Didot, serif;
}

.illustration .whiteboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
.illustration canvas {
    background-color: white;
    display: inline-block;
}

.whiteboard .whiteboard-caption {
    font-size: 0.8em;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 8px;
}

canvas.animated {
    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

canvas.animated.no-click {
    cursor: inherit;
}

.skinny-block {
    display: block;
    margin: auto 2em;
}

button {
    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
}

canvas.numline {
    background-color: white;
    display: block;
    margin: 1em auto;
    border: 1px solid black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
}

.copy-action {
    cursor: pointer;
    position: relative;
}
.copy-action * {
    min-width: 3em;
}
.copy-action:after {
    position: absolute;
    right: 10px;
    color: #999;
    content: "⎘";
}
.copy-action:active * {
    position: relative;
    top: 1px;
}

.inv-table td {
    font-family: monospace;
    min-width: 2em;
}

table.results {
    margin: 0 auto 1em;
    font-size: 0.9em;
}
table.results td {
    padding-left: 1em;
}

.math-block {
    text-align: center;
    margin-bottom: 1em;
}
.math-block-left {
    text-align: left;
    margin-bottom: 1em;
}

.mathy {
    font-style: italic;
    font-family: STIXGeneral, "DejaVu Serif", "DejaVu Sans", Times,
        "Lucida Sans Unicode", OpenSymbol, "Standard Symbols L", serif;
}

.heading-link-hover {
    position: absolute;
    display: inline-block;
    left: -55px;
    width: 55px;
    height: 3rem;
}
a.heading-link {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    left: 10px;
    text-decoration: none;
    font-size: 3rem;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
.heading-link-hover:hover a.heading-link, .heading:hover a.heading-link {
    visibility: visible;
    color: #aaa;
}
h2 .heading-link {
    top: -0.7rem;
}
h5 .heading-link {
    top: -0.9rem;
}

@media (max-width: 600px) {
    .main-page .container {
        /* get rid of the border fluff, too wasteful */
        width: 550px !important;
        max-width: 550px !important;
        box-shadow: none;
        border-radius: unset;
        margin: 0;
    }
    .heading-link {
        /* too distracting on mobile */
        pointer-events: none;
    }
}
