.center-block {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.math {
    font-family: "Times New Roman", serif;
    font-style: oblique;
}

.tt {
    font-family: "Monaco", "Courier", monospace;
}

.smaller {
    font-size: 0.9em;
}

.squish {
    font-family: "Courier", monospace;
    letter-spacing: -1.4px;
}

button {
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
}
.btn {
    margin: 2px 0;
}

.point-p {
    font-weight: bold;
    color: black;
}

.point-np {
    font-weight: bold;
    color: red;
}

.hidden {
    visibility: hidden;
}
